*{
    box-sizing: border-box;
    font-family:Verdana, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    margin: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
}

.con1{
    border: 3px solid black;
    width: 31%;
    float: left;
    margin:1%;
    background-color:rgb(179, 179, 179);
    position: relative;   
    margin-top: 50px;
    
}
.con2{
    border: 3px solid black;
    width: 31%;
    float: left;
    margin:1%;
    background-color:rgb(179, 179, 179);
    position: relative;   
    margin-top: 50px;
    
}
.con3{
    border: 3px solid black;
    width: 31%;
    float: left;
    margin:1%;
    background-color:rgb(179, 179, 179);
    position: relative;   
    margin-top: 50px;
    
}

p {
    padding: 40px 10px 5px 10px;
    margin-right: 5px;
}


#p1{
    top: 0;
    right:0;
    font-weight: bold;
    position: absolute;
    border: 3px solid black;
    margin: 0px;
    padding: 5px;
    width: 150px;
    text-align: center;
    background-color: rgb(255, 92, 92);
    margin-top: -1px;
    margin-right: -1px;
    color: white;

}

#p2{
    top: 0;
    right:0;
    font-weight: bold;
    position: absolute;
    border: 3px solid black;
    margin: 0px;
    padding: 5px;
    width: 150px;
    text-align: center;
    background-color: pink;
    margin-top: -1px;
    margin-right: -1px;

}

#p3{
    top: 0;
    right:0;
    font-weight: bold;
    position: absolute;
    border: 3px solid black;
    margin: 0px;
    padding: 5px;
    width: 150px;
    text-align: center;
    background-color: rgb(248, 248, 105);
    margin-top: -1px;
    margin-right: -1px;

}

@media (min-width: 992px) {
    .con1{
        width: 31%;
        float:left;
    }
    .con2{
        width: 31%;
        float:left;
    }
    .con3{
        width: 31%;
        float:left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .con1{
        width: 48%;
    }
    .con2{
        width: 48%;
        float: right;
    }
    .con3{
        width: 98%;
    }
}

@media (max-width: 767px) {
    .con1{
        width: 95%;
        margin: 3%;
    }
    .con2{
        width: 95%;
        margin: 3%;
    }
    .con3{
        width: 95%;
        margin: 3%;
    }
}